<header class="header relative bg-blue text-white leading-none text-xl2 py-2 sm:py-4 lg:pt-8 lg:pb-12">
    <div class="container relative">
        <div class="flex items-center justify-between -mx-4">
            <a href="[[++site_url]]" class="logo items-start mx-4">
                <img src="img/elements/logo.svg" alt="Алькасар. Строительство домов" title="Аслькасар. Строительство домов">
            </a>
            <div class="header__right overflow-hidden flex flex-col justify-center lg:justify-end px-4">
                <div class="flex items-center justify-center lg:justify-end -mx-8">
                    <a href="mailto:build@alkasardom.ru" class="hidden lg:flex text-lg xl:text-xl2 hover:text-light-green transition-300 px-8 py-4">
                        build@alkasardom.ru
                    </a>
                    <a href="tel:+7 (978) 015-49-49" class="hover:text-light-green text-base md:text-xl2 lg:text-lg xl:text-xl2 transition-300 px-8 py-4">
                        +7 (978) 015-49-49
                    </a>
                    <div class="hidden relative lg:flex px-8 py-4">
                        <button class="header-call main-button">
                             <span class="main-button__inner">
                                 Заказать звонок
                             </span>
                        </button>
                    </div>
                </div>
                <nav>
                    <ul class="main-nav hidden lg:flex items-center justify-end">
                        <li>
                            <a href="#">О компании</a>
                        </li>
                        <li>
                            <a href="#">Услуги</a>
                        </li>
                        <li>
                            <a href="#">Готовые проекты</a>
                        </li>
                        <li>
                            <a href="#">Наши работы</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="bars lg:hidden z-30  cursor-pointer text-white hover:text-light-green transition-300 mx-4">
                <svg viewBox="0 0 50 36" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <rect width="50" height="4" rx="2" fill="currentColor"/>
                    <rect y="16" width="50" height="4" rx="2" fill="currentColor"/>
                    <rect y="32" width="50" height="4" rx="2" fill="currentColor"/>
                </svg>
            </div>
        </div>
        <div class="header-form-block bg-blue select-none absolute w-full">
            <div class="header-form-block__close-wrap block w-10 ml-auto text-white hover:text-light-green transition-colors duration-300">
                <svg class="header-form-block__close ml-auto cursor-pointer" width="25" height="26" viewBox="0 0 25 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0)">
                        <path d="M22.5412 24.5902L0.410047 2.45901C0.159737 2.20365 0.0195313 1.86032 0.0195312 1.50273C0.0195313 1.14514 0.159737 0.801814 0.410047 0.546447C0.665414 0.296137 1.00874 0.155931 1.36633 0.155931C1.72392 0.155931 2.06725 0.296137 2.32261 0.546447L24.5904 22.8142C24.8407 23.0696 24.9809 23.4129 24.9809 23.7705C24.9809 24.1281 24.8407 24.4714 24.5904 24.7268C24.2843 24.9408 23.9144 25.044 23.5417 25.0191C23.1691 24.9943 22.8161 24.8429 22.5412 24.5902Z" fill="currentColor"/>
                        <path d="M24.4528 2.45824L2.32164 24.5894C2.06627 24.8397 1.72294 24.9799 1.36535 24.9799C1.00777 24.9799 0.664437 24.8397 0.40907 24.5894C0.15876 24.334 0.0185547 23.9907 0.0185547 23.6331C0.0185547 23.2755 0.15876 22.9322 0.40907 22.6768L22.6768 0.409062C22.9322 0.158752 23.2755 0.0185471 23.6331 0.0185471C23.9907 0.0185471 24.334 0.158752 24.5894 0.409062C24.8035 0.715102 24.9066 1.08506 24.8817 1.4577C24.8569 1.83034 24.7056 2.18333 24.4528 2.45824Z" fill="currentColor"/>
                    </g>
                    <defs>
                        <clipPath id="clip0">
                            <rect width="25" height="25.0137" fill="white"/>
                        </clipPath>
                    </defs>
                </svg>
            </div>
            <form class="header-form">
                <input type="tel" name="tel" class="input w-full placeholder-black" placeholder="+7(___) ___-____">
                <button type="submit" class="main-button mt-10">
                                     <span class="main-button__inner">
                                         Заказать звонок
                                     </span>
                </button>
            </form>
        </div>
    </div>
</header>