// @import '../../bower_components/arcticModal/arcticmodal/jquery.arcticmodal';
@import "../../node_modules/slick-carousel/slick/slick.scss";
@import "../../node_modules/slick-carousel/slick/slick-theme.scss";
@import '../../bower_components/arcticModal/arcticmodal/themes/simple';
@import '../../node_modules/magnific-popup/dist/magnific-popup';
@import "../../node_modules/fotorama/fotorama";

$root-font-size: 16;

@function s($size) {
  @return $size / $root-font-size * 1rem;
}

.project-slider-arrow {
  width: 2.7rem;
  height: 6.2rem;
  cursor: pointer;
}

.project-slider-arrows {
  width: 7.4rem;
  justify-content: space-between;

  @media (min-width: 375px) {
    width: 8.4rem;
  }
}

.fotorama__thumb-border {
  border-color: #D1E332;
}
