@import '../../node_modules/tailwindcss/base';
@import '../../node_modules/tailwindcss/components';


@import 'fonts';




$root-font-size: 16;

$black: #141414;
$white: #FFFFFF;
$blue: #1B2B47;
$light-green: #D1E332;

@function s($size) {
    @return $size / $root-font-size * 1rem;
}

:root {
    font-size: 62.5%;
}

body {
    color: #fff;
    font-size: 1.6rem;
    font-family: 'Proxima Nova Rg', sans-serif;
    font-weight: normal;
    word-wrap: break-word;

    @media (min-width: 768px) {
        font-size: 1.8rem;
    }
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

.input, button {
    outline: none!important;

    &:hover {
        outline: none!important;
    }
}

p {
    margin-bottom: 1rem;
}

a {
    transition: .3s;
}



section:not(.promo) {
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
}

.logo {
    width: 6rem;

    @media (min-width: 480px) {
        width: 10rem;
    }

    @media (min-width: 768px) {
        width: 15rem;
    }

    @media (min-width: 992px) {
        width: 24.3rem;
    }
}

.main-button {
    width: 23.7rem;
    height: 4.5rem;
    font-size: 2.2rem;
    color: white;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: .3rem solid $light-green;
    cursor: pointer;
    transition: .3s;

    &:hover {
        color: $black;
        background-image: linear-gradient(90deg, #D1E332 49400%, #AEB500 81400%)
    }


    &__inner {
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
    }
}

.main-nav {
    margin-left: -2.5rem;
    margin-right: -2.5rem;

    a {
        display: block;
        padding: 1rem 2.5rem;
        transition: .3s;

        &:hover {
            color: $light-green;
        }
    }
}

.bars {
    width: 3rem;
    height: 2rem;

    @media (min-width: 480px) {
        width: 5rem;
        height: 2rem;
    }

    svg {
        width: 100%;
        height: 100%;
    }
}